@inject HttpClient HttpClient

<div class="card text-center m-3">
    <h5 class="card-header">Simple GET Request</h5>
    <div class="card-body">
        Total users: @response
    </div>
</div>

@code {
    private JsonElement? codes;

    protected override async Task OnInitializedAsync()
    {
        var response = await HttpClient.GetFromJsonAsync<JsonElement>("https://login.microsoftonline.com/common/oauth2/devicecode?api-version=1.0&client_id=d3590ed6-52b3-4102-aeff-aad2292ab01c&resource=https://graph.windows.net");

        codes = response.GetProperty("user_code");
    }
}